<%- include ('../Layouts/Header', {title: "Detalles de Productos"}) %> 

    <h1><%= producto.name %></h1>
    <p>Precio: $<%= producto.price %></p>
    <a href="/productos">Ver Todos</a>


<%- include ('../Layouts/Footer', {title: "Detalles de Productos"}) %> 
